:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --display-font-montserate :"Montserrat", sans-serif;
     --display-font-open-sens : "Open Sans", sans-serif;
     --font-family-afacad:"Afacad Flux", sans-serif;
     --font-family-poppins :"Poppins", sans-serif;
     --display-font-courgette : "Courgette", cursive;
}

.nav-page .nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0rem 4rem;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100000;
}
.nav-page .mobile-nav{
     display: none;
}
.nav-page .navBg{
     background-color: white;
}
.logo{
     font-size: 0.8rem;
     font-family: var(--display-font-montserate);
     color:var(--color-2);
     user-select: none;
}
.logo span{
     color: var(--color-4);
     font-size: 2.2rem;
     font-family: var(--font-family-afacad);
}

.nav-page .web-pages-nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 3rem;
}
.web-pages-nav a{
     color: var(--color-4);
     font-family: var(--font-family-poppins);
     font-weight: 500;
     font-size: 1rem;
     padding: 1rem 0;
}
.nav-links{
     display: flex;
     gap: 1.5rem;
}
.nav-page .secondary-nav{
     margin-top: 3rem;
     padding: 1rem 4rem;
     display: none;
     position: fixed;
     width: 100%;
     background-color: white;
     z-index: 100000;
     border-top: 1px solid rgba(0, 0, 0, 0.225);
     border-bottom: 1px solid rgba(0, 0, 0, 0.225) ;
}
.nav-page .secondary-nav-show{
     display: flex;
     align-items: center;
     width: 100%;
}
.nav-page .secondary-nav-item{
     display: flex;
     gap: 2rem; 
     width: 100%;
     animation: navanima 0.1s ease-in;
}
@keyframes navanima {
     0%{
          padding-top: 1.1rem;
     }
     100%{
          padding-top: 1rem;
     }
}
.nav-page .secondary-nav-product{
     border-right: 1px solid rgba(0, 0, 0, 0.315);
     padding-right: 2rem;
}
.nav-page .secondary-nav-product img{
     width: 300px;
     height: 449px;
}
.nav-page .secondary-nav .secondary-nav-links{
     display:flex;
     flex-direction: column;
     /* border: 1px solid; */
     width: 20%;
}
.nav-page .secondary-nav .secondary-nav-links h2{
     font-family: var(--display-font-open-sens);
     font-size: 1rem;
}
.nav-page .secondary-nav .secondary-nav-links a{
     color: rgba(0, 0, 0, 0.67);
     font-family: var(--font-family-poppins);
}
.nav-page .secondary-nav .secondary-nav-links a:hover{
     color: rgb(0, 0, 0);
     text-decoration: solid;
}

.nav-page .winter-secondary-nav-links {
     display: flex;
     width: 100%;
}
.nav-item i{
     outline: none;
     font-size: 1.1rem;
}
.nav-item{
     border: none;
     padding: 0.2rem 0.5rem;
     background-color: transparent;
     cursor: pointer;
     transition: 0.3s;
     color: var(--color-4);
     display: flex;
     justify-content: center;
     align-items: center;
}
.menu-btn{
     border: none;
     padding: 0.2rem 0.5rem;
     background-color: transparent;
     cursor: pointer;
     transition: 0.3s;
     color: var(--color-3);
}
.menu-btn i{
     outline: none;
     font-size: 1.5rem;
}
.nav-page .cart-section-btn{
     position: relative;
}
.nav-page .total-carts-number{
     position: absolute;
     top: -12px;
     right: -5px;
     font-size: 12px;
     font-weight: 500;
     padding: 2px 5px;
     border-radius: 50%;
     background-color: var(--color-2);
     color: white;
     z-index: 0;  
}



@media screen and (max-width : 800px) {
      .nav{
        padding: 0.6rem 1.5rem;
        
      }
} 
@media screen and (max-width : 680px) {
      .nav{
        padding: 0.6rem 1.5rem;
        
      }
} 

