:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --display-font-01 :"Montserrat", sans-serif;
     --display-font-02 : "Open Sans", sans-serif;
     --display-font-section-header : "Courgette", cursive;
     --font-family:"Afacad Flux", sans-serif;
     --font-family2 :"Poppins", sans-serif;
}

.out-late-item-header{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 0.3rem;
     padding-top: 2rem;
     padding-bottom: 1.5rem;
}
.out-late-item-header .out-late-item-header-title{
     display: flex;
     align-items: center;
     gap: 1rem;
}

.out-late-item-header .out-late-item-header-title h1{
     font-family: var(--display-font-section-header);
}

.out-late-item-header .out-late-item-header-sub-title p{
     font-family: var(--font-family2);
     font-size: 14px;
     font-weight: 400;
}

.out-late-item{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
     gap: 1.5rem;
     justify-content: center;
     padding: 2rem 1rem;
     /* border: 1px solid; */
}
.outlate-card{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 0.5rem;
     padding: 0.5rem;
     box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.173),
                -1px 0 2px rgba(0, 0, 0, 0.173),
                0 -1px 2px rgba(0, 0, 0, 0.173);
     /* border-radius: 5px; */
}
.outlate-card-image .image{
     width: 100%;
     height: 180px;
}
.outlate-card-footer{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
     width: 100%;
}
.outalate-card-band-price{
     display: flex;
     justify-content: space-between;
}
.outalate-card-band-price .brand{
     font-family:var(--font-family2);
     font-size: 14px;
     font-weight: 500;
}
.outalate-card-band-price .price{
     font-family: var(--font-family2);
     font-size: 14px;
     color:var(--color-2);
}
.outlate-card-btns{
     display: flex;
     justify-content: space-between;
}
.outlate-card-btns .outlate-buy-now-btn{
     border: 1px solid var(--color-4);
     background-color: transparent;
     padding: 0.2rem 0.3rem;
     color:  var(--color-4);
     cursor: pointer;
     transition: all 0.2s;
}
.outlate-card-btns .outlate-buy-now-btn:hover{
     background-color: var(--color-4);
     color:white;
}
.outlate-card-btns .outlate-add-to-cart-btn{
     border: none;
     background-color:#d9165739;
     padding: 0.1rem 0.4rem;
     border-radius: 50%;
     cursor: pointer;
}
.outlate-card-btns .outlate-add-to-cart-btn:hover{
     background-color:#d9165789;
}
.outlate-card-btns .outlate-add-to-cart-btn i{
     color: var(--color-4);
}

