:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --display-font-01 :"Montserrat", sans-serif;
     --display-font-02 : "Open Sans", sans-serif;
     --font-family:"Afacad Flux", sans-serif;
     --font-family2 :"Poppins", sans-serif;
}

.best-seller-page{
     padding: 0 4rem;
}


