:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --color-5: #1D7373 ;
     --display-font-Montserrat :"Montserrat", sans-serif;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-family-AfacadFlux:"Afacad Flux", sans-serif;
     --font-family-Poppins :"Poppins", sans-serif;
}

.mens-layout-page{
     /* border: 1px solid; */
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1.5rem;
     height: 600px;
}
.mens-layout-page .left-layout{
     width: 100%;
     /* border: 1px solid; */
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
     margin-top: auto;
     padding-bottom: 1rem;
}
.mens-layout-page .layout-details{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}
.mens-layout-page .layout-details h1{
     font-family: var(--display-font-OpenSans);
     font-weight: 600;
     font-size: 2rem;
     line-height: 2.1rem;
}
.mens-layout-page .layout-details p{
     font-family: var(--display-font-OpenSans);
     font-size: 1rem;
}
.mens-layout-page .left-btns .shop-now{
      padding: 0.2rem 0.5rem;
      font-size: 1rem;
      border: 1px solid var(--color-2);
      color: var(--color-2);
      cursor: pointer;
}
.mens-layout-page .right-layout{
     width: 100%;
     /* border: 1px solid; */
     height: 100%;
     display: flex;
     justify-content: start;
     align-items: end;
     margin-top: auto;
}

.mens-layout-page .right-layout img{
     width: 450px;
     height: 95%;
     /* border: 1px solid; */
}

.mens-layout-page .image-btns{
     display: flex;
     flex-direction: column;
     gap: 0.7rem;
     margin:1rem;
}
.mens-layout-page .image-btn{
     border: 1px solid var(--color-2);
     border-radius: 50%;
     padding: 0.4rem 0.5rem;
     /* background-color: var(--color-4); */
     cursor: pointer;
     transition: 0.2s;
}
.mens-layout-page .image-btn:hover{
     background-color: var(--color-2);
}
.mens-layout-page .image-btn i{
     font-size: 1.1rem;
     color: var(--color-2);
} 
.mens-layout-page .image-btn:hover i{
     color: white;
}
